{% include 'header/header.html' %}
{% load staticfiles %}

<h1 class="font-color">
    肺结节检测
</h1>

<div class="home">
    <div class="div-inline left">
{#        TODO#}
{#        步骤信息#}
        <table class="table" style="text-align: center;">

            <thead>
                <tr>
                    <th class="table-head">编号</th>
                    <th class="table-head">z  </th>
                    <th class="table-head">y  </th>
                    <th class="table-head">x  </th>
                </tr>
            </thead>

            <tbody>

                {% for foo in nodules %}

                <tr class="default-cursor" onclick="getNodulesImage(this)" onmouseover="changeColor(this)" onmouseleave="resetColor(this)">
                    <td>{{ foo.id }}</td>
                    <td>{{ foo.z }} </td>
                    <td>{{ foo.y }} </td>
                    <td>{{ foo.x }} </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>
    </div>

    <div class="div-inline middle">
{#        TODO#}
{#        路径#}
        <div class="img-block">
            <div style="text-align: center">
                <img id="ct-img" class="img" onmousemove="getCoordinates()" src="{% static "image/ct_img_0_001.jpg" %} " alt="">
            </div>

            <span class="img-info-top" id="slice">se: 0</span>
            <span class="img-info-bot-x" id="mouse-x"></span>
            <span class="img-info-bot-y" id="mouse-y"></span>
        </div>
    </div>

    <div class="div-inline right">
        hello
{#        TODO#}

        <p class="font-color" id="test"> hello </p>
    </div>

</div>

<script language="JavaScript" type="text/javascript">
    var mouseWheel = document.getElementById('ct-img');
    var num = 1;
    var numMax = 9;

    if (mouseWheel.addEventListener) {

        mouseWheel.addEventListener('DOMMouseScroll', function(event) {
            event.target.innerHTML = event.detail;
            event.stopPropagation();
            event.preventDefault();

        }, false);
    }
    mouseWheel.onmousewheel = function(event) {

        event = event || window.event;
        mouseWheel.innerHTML = event.wheelDelta.toString();
        event.returnValue = false;


        if(event.wheelDelta > 0 && num < numMax) {
            changeImg(++num);
        }else if(event.wheelDelta < 0 && num >= 2) {
            changeImg(--num);
        }
        // TODO
        // 在这里处理 event.wheelDelta
    }
</script>

<script>


    function getCoordinates() {
        var xinfo = document.getElementById('mouse-x');
        var yinfo = document.getElementById('mouse-y');

        var x = event.clientX - document.getElementById('ct-img').getBoundingClientRect().left;
        var y = event.clientY - document.getElementById('ct-img').getBoundingClientRect().top;

        xinfo.innerHTML = "x: " + Math.round(x);
        yinfo.innerHTML = "y: " + Math.round(y);
    }

    function changeImg(cnt){
        var img = document.getElementById("ct-img");

        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange = function() {
            if(xmlhttp.readyState==4 && xmlhttp.status==200) {

                var jsontext = xmlhttp.response;
                var path = JSON.parse(jsontext);

                img.src = "{% static "" %}" + path['path'];
            }
        };
        // TODO
        // 请求图片路径
        xmlhttp.open("GET", "/ajax_dict?cnt=" + cnt, true);
        xmlhttp.send();
    }

    function getNodulesImage(obj) {
        var img = document.getElementById("ct-img");
        var cnt = obj.cells[1].innerHTML; //结节图片编号

        changeImg(cnt);
    }

    function changeColor(obj) {
        obj.style.color = "gray";
    }

    function resetColor(obj) {
        obj.style.color = "white";
    }
</script>

{% include 'footer/footer.html' %}
