{% include 'header/header.html' %}
{% load staticfiles %}

<h1 class="font-color">
    肺结节检测
</h1>

<div class="home">
    <div class="div-inline left">
{#        TODO#}
{#        步骤信息#}
        <table class="table" style="text-align: center;">

            <thead>
                <tr>
                    <th class="table-head">编号</th>
                    <th class="table-head">z  </th>
                    <th class="table-head">y  </th>
                    <th class="table-head">x  </th>
                </tr>
            </thead>

            <tbody>

                {% for foo in nodules %}

                <tr class="default-cursor" onclick="getNodulesImage(this)" onmouseover="changeColor(this)" onmouseleave="resetColor(this)">
                    <td>{{ foo.id }}</td>
                    <td>{{ foo.z }} </td>
                    <td>{{ foo.y }} </td>
                    <td>{{ foo.x }} </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>
    </div>

    <div class="div-inline middle">
{#        TODO#}
{#        路径#}
        <img id="ct-img" onscroll="scroll()" class="img" src="{% static "image/ct_img_0_000.jpg" %} " alt="">
    </div>

    <div class="div-inline right">
        hello
{#        TODO#}

        <p class="font-color" id="test"> hello </p>
    </div>

</div>

<script language="JavaScript" type="text/javascript">
    var mouseWheel = document.getElementById('ct-img');

    if (mouseWheel.addEventListener) {

        mouseWheel.addEventListener('DOMMouseScroll', function(event) {
            event.target.innerHTML = event.detail;
            event.stopPropagation();
            event.preventDefault();

        }, false);
    }
    mouseWheel.onmousewheel = function(event) {

        event = event || window.event;
        mouseWheel.innerHTML = event.wheelDelta.toString();
        event.returnValue = false;

        alert(event.wheelDelta);

        // TODO
        // 在这里处理 event.wheelDelta
    }
</script>

<script>

    function getNodulesImage(obj) {
        var img = document.getElementById("ct-img");
        var cnt = obj.cells[1].innerHTML; //结节图片编号

        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange = function() {
            if(xmlhttp.readyState==4 && xmlhttp.status==200) {

                var jsontext = xmlhttp.response;
                var path = JSON.parse(jsontext);

                img.src = "{% static "" %}" + path['path'];
            }
        };
        // TODO
        // 请求图片路径
        xmlhttp.open("GET", "/ajax_dict?cnt=" + cnt, true);
        xmlhttp.send();
    }

    function changeColor(obj) {
        obj.style.color = "gray";
    }

    function resetColor(obj) {
        obj.style.color = "white";
    }
</script>

{% include 'footer/footer.html' %}
